<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="We build great software">
    <meta name="author" content="Daniel Pirvu">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<div class="main_container">
    <div class="topnav">
        <a class="active" href="index">Home</a>
        <a href="add_personae">Register</a>
    </div>
   	<img src="/picture_01.jpg" style="width:100%;">
	<h1>Blood donation @ Allington Clinic</h1>
    <h6>September 4 @ 8:00 am - 5:00 pm</h6>
</div>
<footer>
    <div class="contact_details">
    </div>
    <div class="social_menu">
        <ul>
            <li><a href="#"> <i class="fas fa-envelope"></i></a></li>
            <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
            <li><a href="#"> <i class="fab fa-instagram"></i></a></li>
            <li><a href="#"> <i class="fab fa-twitter"></i></a></li>
            <li><a href="#"> <i class="fab fa-github"></i></a></li>
            <li><a href="#"> <i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="copyright">
        <i class="fas fa-copyright"></i>Daniel Pirvu
        <a class="up" href="#"><i class="fas fa-angle-up"></i></a>
    </div>
</footer>
</body>
</html>